<div class="main-container">
    <div class="expansion-panel">
        <mat-expansion-panel #matExpansionPanel>
            <mat-expansion-panel-header>
                <div class="btn-container">
                    <button mat-stroked-button class="filters-btn" (click)="openFilters($event)">Filters</button>
                </div>
            </mat-expansion-panel-header>
            @if(chartData$) {
                <app-chart [chartOptions]="chartOptions" [chartData]="(chartData$ | async)!"></app-chart>
            }
        </mat-expansion-panel>
    </div>

    <app-table
        [colDefs]="(columnDefinitions | async)!"
        [defaultColDef]="(defaultColumnDefinition | async)!"
        [rowData]="(rowData$ | async)!"
        [getRowId]="getRowId"
        (onRowClicked)="onRowClicked($event)"
    ></app-table>
</div>

